@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');
@import-normalize;

a {
    text-decoration: none!important;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fffef0 !important;
}
.category_card{
    transition: .3s;
    width: 250px;
    margin: 10px;
    box-shadow: 0 0 5px #c7a303;
    text-align: center;
    cursor: pointer;
}
.category_card:hover{
    box-shadow: 0 0 10px #f05000;
}
.category_card:hover .category_card_img{
    transform: scale(0.8);
}
.category_card_img{
    transition: 0.4s;
    height: 200px;
    width: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}